<header>
    <div>
        <h1>
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </h1>
        <div class="header-controls">
            <div class="toggle-switch">
                <input type="checkbox" id="darkModeToggle" class="toggle-input" aria-label="Toggle dark mode">
                <label for="darkModeToggle" class="toggle-label">
                    <span class="toggle-slider"></span>
                </label>
            </div>
        </div>

    </div>
        <div>
             <nav>
  {{ $currentPage := . }}

  {{ range .Site.Menus.main }}
    <a href="{{ .URL | relURL }}"
       class="{{ if eq $currentPage.RelPermalink .URL }}active{{ end }}">
       {{ .Name }}
    </a>
  {{ end }}
</nav>
     </div>
    </div>
</header>
